{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container">
    {% if promo_error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: -1;">
        {{ promo_error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% elif promo_success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="z-index: -1;">
        {{ promo_success }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    
    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-6">
                <div class="row"><img src="{{ car.pic_url.url }}" alt="Responsive image" class="img-fluid"
                        class="mt-4"></div>
                <div class="row">
                    <table class="table table-borderless">
                        <tbody>
                    <tr>

                        <td> <h1>{{ car.name }}</h1></td>
 
                    </tr>
                    </tbody>
                    </table>
                    <div class="col">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Car year:</td>
                                    <td>{{car.years}}</td>
    
                                </tr>
                                <tr>
                                    <td>Car color:</td>
                                    <td>{{car.color}}</td>
                                </tr>
                                <tr>
                                    <td>Gear type:</td>
                                    <td>{{ car.get_type_gear_display }}</td>
                                </tr>
                                <tr>
                                    <td>Car usage:</td>
                                    <td>{{ car.get_category_display}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="col">
                        <table class="table table-borderless">
                            <tbody>
                              
                                <tr>
                                    <td>Number of seats:</td>
                                    <td>{{ car.number_seat}}</td>
                                </tr>
                                <tr>
                                    <td>Number of doors:</td>
                                    <td>{{ car.number_door}}</td>
                                </tr>
                                <tr>
                                    <td>Reason of use:</td>
                                    <td>{{ car.reason}}</td>
                                </tr>
                                <tr>
                                    <td>Price per day:</td>
                                    <td>₦{{ car.price|intcomma }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


            
            <form action="{% url 'booking' car.id %}" method="post">
                {% csrf_token %}
                <div class="col-lg-6 mt-auto">
                    <div class="card">
                        <div class="card-body">


                            {% csrf_token %}
                            <h4 class="card-title">Sure-Wheels booking form</h4>
                            <h6 class="card-subtitle mb-2 text-muted">for members</h6>
                            <p class="card-text">


                                <div class="row text-center">

                                    <div class="col">
                                        <p>Select date/time to pick up the car</p>
                                        <input type="text" id='picker' name="start_date" class="form-control"
                                            value="{{ start_date }}"  readonly="readonly">

                                    </div>
                                    <div class="col">
                                        <p>Select the date/time to return the car.</p>
                                        <input type="text" id='picker1' name="end_date" class="form-control"
                                            value="{{ end_date }}" onchange="this.form.submit()"  readonly="readonly">
                                    </div>
                                </div>
                            </p>
                            <br>
                            <div class="row">
                                <table class='table table-stripe'>
                                    {% if amount_day and not not_accept %}
                                    <tr>
                                        <td>rent for {{ amount_day }} day</td>
                                        <td>{{ price | intcomma  }}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td>pick-up fee</td>
                                        <td>free!</td>
                                    </tr>
                                    {% if promo_cost and not not_accept %}
                                    <tr>
                                        <td>discount</td>
                                        <td>-{{ promo_cost | intcomma  }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if amount_day and not not_accept %}
                                    <tr>
                                        <td>total price</td>
                                        <td>ฺ₦{{ price | intcomma  }}.00</td>
                                    </tr>
                                    {% endif %}
                                    <tr class="table-warning">
                                        <td>
                                            <p>Deposit for damage insurance</p>
                                            <p style="font-size: x-small;">Pay when picking up the car and
                                                Refunded at the end of the rental
                                            </p>
                                        </td>
                                        <td>₦10,000</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>Promotion Code</h6>
                                            <p style="font-size: x-small;">Enter code to receive a discount</p>
                                        </td>
                                        <td><input type="text" id='promotion_code' name="promotion_code"
                                                class="form-control" value="{{ promotion }}"
                                                onchange="this.form.submit()">
                                        </td>

                                    </tr>
                                    <tr>

                                        <td colspan="2">
                                            <!-- <button type="button" class="btn btn-secondary btn-lg btn-block" name='is_submit' value="submited">เลือกรถคันนี้</button> -->
                                            <button type='submit' name='is_submit' value='submited'
                                                class="btn btn-primary btn-lg btn-block" {% if not_accept %} disabled {% endif %}>choose this car</button>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>





{% endblock %}

{% block footer %}

{% endblock %}
