{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
                <img src="{{ car.pic_url.url }}" alt="Responsive image" style="width: 100%;" class="mt-5">
                <a type="button" class="btn btn-success btn-sm" style='margin: 111px;' href="{% url 'car_dashboard' %}">back to car list</a>
        </div>
        <div class="col-6">
            <table class="table table-borderless mt-4">
                <tbody>
                    <tr>
                        <td colspan="2"><h1>{{car.name }}</h1></td>

                    </tr>
                    <tr>
                        <td>Car year:</td>
                        <td>{{car.years}}</td>

                    </tr>
                    <tr>
                        <td>Color:</td>
                        <td>{{car.color}}</td>
                    </tr>
                    <tr>
                        <td>Gear type:</td>
                        <td>{{ car.get_type_gear_display }}</td>
                    </tr>
                    <tr>
                        <td>Car useage:</td>
                        <td>{{ car.get_category_display}}</td>
                    </tr>
                    <tr>
                        <td>Number of seats:</td>
                        <td>{{ car.number_seat}}</td>
                    </tr>
                    <tr>
                        <td>Reason of use:</td>
                        <td>{{ car.reason}}</td>
                    </tr>
                    <tr>
                        <td>Car price:</td>
                        <td>{{ car.price}}</td>
                    </tr>
                    <tr>
                        <td>Last revision date</td>
                        <td>{{ car.update_time}}</td>
                    </tr>
                </tbody>
              </table>
              
              
        </div>
    </div>
</div>





{% endblock %}

{% block footer %}

{% endblock %}
